
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.resume {
    box-shadow: #c8c8c8 1px 1px 8px;
    width: 800px;
}

.head {
    border-top: #323e4f solid 5px;
    display: flex;
    justify-content: space-between;
}

.head-item-title {
    justify-content: start !important;
    gap: 35px;
}

.head-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.header {
    top: -30px;
    position: absolute;
    font-size: 23px;
    font-weight: bold;
}

.education {
    height: 115px;
}

.honor {
    height: 85px;
}


.skill {
    height: 375px;
}

.experience {
    height: 230px;
}

.project {
    height: 400px;
}

.self-evaluation {
    height: 110px;
}

.text-bold {
    font-weight: bold;
}

.text-color {
    color: #323e4f;
}

.text-12 {
    font-size: 12px;
}

.text-14 {
    font-size: 14px;
}

.text-16 {
    font-size: 16px;
}

.text-18 {
    font-size: 18px;
}

.text-20 {
    font-size: 20px;
}

.text-23 {
    font-size: 23px;
}

.text-30 {
    font-size: 30px;
}

.flex {
    display: flex;
}

.gap-15px {
    gap: 15px;
}

.gap-10px {
    gap: 10px;
}

.gap-50px {
    gap: 50px;
}
.gap-100px {
    gap: 100px;
}
.gap-150px {
    gap: 350px;
}

.gap-5px {
    gap: 5px;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.common-padding {
    padding: 10px 20px;
}

.mt-5px {
    margin-top: 5px;
}

.image-container {
    position: relative;
    --height: 140px;
    width: calc(var(--height) * 7 / 9);
    height: var(--height);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
    row-gap: 0.5rem;
}

.grid-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 14px;
}



.skill-item {
    margin-bottom: 3px;
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
    font-size: 14px;
}

.text-wrap {
    text-wrap: auto;
}

.bullet {
    font-size: 12px;
    line-height: 1;
}

.image-style {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: center;
}

.horizontal-line {
    height: 2px;
    background: #323e4f;
}

.text-color * {
    color: #404040;
}